App: # APP基础设置项
  AttachmentIncomeRate: 0.8
  MaxCommentCount: 10
  DefaultContextTimeout: 60
  DefaultPageSize: 10
  MaxPageSize: 100
Server: # 服务设置
  RunMode: debug
  HttpIp: 0.0.0.0
  HttpPort: 8008
  ReadTimeout: 60
  WriteTimeout: 60
Features:
  Default: ["Base", "MySQL", "Option", "LocalOSS", "LoggerFile"]
CacheIndex:
  MaxUpdateQPS: 100             # 最大添加/删除/更新Post的QPS, 设置范围[10, 10000], 默认100
Logger: # 日志通用配置
  Level: debug # 日志级别 panic|fatal|error|warn|info|debug|trace
LoggerFile: # 使用File写日志
  SavePath: data/go-quick-template/logs
  FileName: app
  FileExt: .log
JWT: # 鉴权加密
  Secret: e10adc3949ba59abbe56e057f20f883e
  Issuer: go-quick-template
  Expire: 86400
LocalOSS: # 本地文件OSS存储配置
  SavePath: data/go-quick-template/oss
  Secure: False
  Bucket: test
  Domain: 127.0.0.1:8008
Database: # Database通用配置
  LogLevel: error   # 日志级别 silent|error|warn|info
  TablePrefix: p_   # 表名前缀
MySQL: # MySQL数据库
  Username: test
  Password: test
  Host: db:3306
  DBName: test
  Charset: utf8mb4
  ParseTime: True
  MaxIdleConns: 10
  MaxOpenConns: 30
Postgres: # PostgreSQL数据库
  User: test
  Password: test
  DBName: test
  Host: localhost
  Port: 5432
  SSLMode: disable
  TimeZone: Asia/Shanghai
Sqlite3: # Sqlite3数据库
  Path: data/sqlite3/test.db
Redis:
  Host: redis:6379
  Password: 
  DB: 
  